[submodule "rorm/rorm-cli"]
	path = rorm/rorm-cli
	url = git@github.com:rorm-orm/rorm-cli.git
[submodule "rorm/rorm-declaration"]
	path = rorm/rorm-declaration
	url = git@github.com:rorm-orm/rorm-declaration.git
[submodule "rorm/rorm-sql"]
	path = rorm/rorm-sql
	url = git@github.com:rorm-orm/rorm-sql.git
[submodule "rorm/rorm-db"]
	path = rorm/rorm-db
	url = git@github.com:rorm-orm/rorm-db.git
[submodule "rorm/rorm-lib"]
	path = rorm/rorm-lib
	url = git@github.com:rorm-orm/rorm-lib.git
