[submodule "rorm-cli"]
	path = rorm-cli
	url = https://github.com/rorm-orm/rorm-cli.git
[submodule "rorm-declaration"]
	path = rorm-declaration
	url = https://github.com/rorm-orm/rorm-declaration.git
[submodule "rorm-sql"]
	path = rorm-sql
	url = https://github.com/rorm-orm/rorm-sql.git
[submodule "rorm-db"]
	path = rorm-db
	url = https://github.com/rorm-orm/rorm-db.git
[submodule "rorm-lib"]
	path = rorm-lib
	url = https://github.com/rorm-orm/rorm-lib.git
