[submodule "rorm/rorm-cli"]
	path = rorm/rorm-cli
	url = git@github.com:rorm-orm/rorm-cli.git
[submodule "rorm/rorm-declaration"]
	path = rorm/rorm-declaration
	url = git@github.com:rorm-orm/rorm-declaration.git
[submodule "rorm/rorm-sql"]
	path = rorm/rorm-sql
	url = git@github.com:rorm-orm/rorm-sql.git
